@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
  font-weight:  900 !important;
}

/*-----------------Media Queries -----------------*/

@media (min-width: 576px) {
  .icona{
    width: auto;
  }

}

@media (min-width: 768px) {
  .backgroundimg-login {
    height: 100vh;
    /* width: 100%; */
  }
  .icona{
    width: 100%;
  }  
}

@media (min-width: 992px) {
  .icona{
    width: 100%;
  }
}

@media (min-width: 1200px) {
  
}